<div class="row">

  <!-- Line Chart - Single Series -->
  <div class="col-md-6">
    <h3>Calories By Day</h3>
    <%= line_chart @net_calories_by_day, discrete: true %>
  </div>

  <div class="col-md-6">
    <h3>Calories By Food</h3>
    <%= pie_chart @calories_by_food, discrete: true %>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Meals By Country</h3>
    <%= geo_chart @meals_by_country %>
  </div>
</div>
