$("#foods table tbody").prepend("<tr class='success'>" +
                                  "<td><%= @meal.food_name %></td>" +
                                  "<td><%= @meal.calories %></td>" +
                                  "<td><%= @meal.date_to_s %></td>" +
                                "</tr>");
$("#calories-chart").html("<%= j render('calories_chart') %>");
$("#food-form").empty();
$("#enter-food-link").show();
