$("#foods table tbody").prepend("<tr class='success'>" +
                                  "<td><%= @meal.food.food %></td>" +
                                  "<td><%= @meal.food.calories %></td>" +
                                  "<td><%= @meal.date %></td>" +
                                "</tr>");
